ion-header{
    padding: 50px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background : white;
    ion-title {
      font-weight: bold;
      font-size: larger;
      text-align: center;
    }
    ion-button {
      position: absolute;
      left: 1rem;
    }
  }

ion-content {
    --background : white;
    .login-container {
        // border-radius: 0 40px 0 0 ;
        padding: 1.2rem 0 0 0;
        background-color: white;
        // background: linear-gradient(to top right, #fffbf3 , #ffffff);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        overflow: hidden;
        .input-container {
            color: #454545;
            background: white ;
            width: 90%;
            padding: .5rem 1.5rem;
            margin: .5rem 0;
            text-align: start;
            // border: 2px solid #454545;
            box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.221);
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            ion-icon {
                color: #454545;
                font-size: 1.5rem;
            }
        }
        .btn {
            ion-button {
              margin: 1.5rem 0 0 0;
              --background : #CF8F24;
              ion-title {
                color: white;
                font-size: medium;
              }
            }
          }
      }      
}