<ion-header>
  <ion-toolbar>

    <ion-button slot="start" fill="clear" size="small" (click)="router.navigate(['/edit-pass'])">
      <ion-icon style="color:#FC9C4C; font-size: 2rem;" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title style="color: black;">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- <ion-list>
    <ion-item>
      <ion-label position="stacked">New Username</ion-label>
      <ion-input [(ngModel)]="username" placeholder="Enter New Username" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">New Password</ion-label>
      <ion-input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" placeholder="Enter New Password" clearInput></ion-input>
      <ion-icon name="eye" slot="end" (click)="togglePasswordVisibility('password')"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirm Password</ion-label>
      <ion-input [(ngModel)]="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm Password" clearInput></ion-input>
      <ion-icon name="eye" slot="end" (click)="togglePasswordVisibility('confirmPassword')"></ion-icon>
    </ion-item>

    <div class="ion-padding">
      <ion-button expand="full" (click)="saveChanges()">Save Changes</ion-button>
    </div>
  </ion-list> -->


  <ion-grid class="login-container">

    <ion-grid class="input-container">
      <ion-input [(ngModel)]="username" type="text" label="Enter New Username" label-placement="floating"  required></ion-input>
    </ion-grid>
    
    <ion-grid  class="input-container">
      <ion-input [(ngModel)]="password" label="New Password" label-placement="floating" [type]="showPassword ? 'text' : 'password'" required></ion-input>
      <span>
        <ion-icon
        slot="end"
        [name]="showPassword ? 'eye' : 'eye-off'"
        (click)="togglePasswordVisibility('password')"
        style="cursor: pointer;">
      </ion-icon>
      </span>
    </ion-grid>

    <ion-grid  class="input-container">
      <ion-input [(ngModel)]="confirmPassword" label="Confirm Password" label-placement="floating" [type]="showConfirmPassword ? 'text' : 'password'" required></ion-input>
      <span>
        <ion-icon
        slot="end"
        [name]="showConfirmPassword ? 'eye' : 'eye-off'"
        (click)="togglePasswordVisibility('confirmPassword')"
        style="cursor: pointer;">
      </ion-icon>
      </span>
    </ion-grid>

    <ion-grid class="btn">
      <ion-button expand="block" shape="round" (click)="saveChanges()">
        <ion-title>Simpan Perubahan</ion-title>
      </ion-button>
    </ion-grid>

  </ion-grid>


</ion-content>