<ion-content [fullscreen]="true">

  <ion-spinner *ngIf="isLoading" class="loading-spinner"></ion-spinner>
  <!-- <div *ngIf="!isLoading && errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div> -->

  <ion-grid class="top">
    <ion-title>Haloo...</ion-title>
    <ion-title>Riwayat Anda ada disini.</ion-title>
    <ion-row>
      <!-- <ion-searchbar
      showCancelButton="focus"
      class="custom"
      [(ngModel)]="searchQuery"
      (ionInput)="searchRiwayat()"
      ></ion-searchbar> -->

      <ion-searchbar
      showCancelButton="focus"
      class="custom"
      [(ngModel)]="searchQuery"
      (ionInput)="searchRiwayat()"
    ></ion-searchbar>

    </ion-row>
  
  </ion-grid>


  <div style="padding: 0; margin: 0; background: white; height: 100%; border-radius: 20px 20px 0 0;">

    <div class="bottom">

      <ion-list *ngIf="!riwayatList.length || filteredRiwayatList?.length === 0">
        <div class="no-found">
          <img src="assets/no-found.png" alt="anajy ">
          <ion-title>Data Tidak Ditemukan.</ion-title>
        </div>
      </ion-list>

      <ion-list *ngIf="!isLoading && riwayatList.length > 0">

  
  
        <div class="riwayat" *ngFor="let riwayat of filteredRiwayatList">
            <h1>{{ riwayat.customer_payment_detail }}</h1>
            <p>Metode pembayaran: {{ getPaymentMethod(riwayat.customer_payment_method) }}</p>
            <p>Total: {{ formatCurrency(riwayat.customer_payment_total) }}</p>
            <p>Tanggal: {{ riwayat.created_date  }}</p>
        </div>
        
      </ion-list>
    </div>

  </div>

</ion-content>
