ion-content {
    --background : #febb4b;

  

    .top {
        // background : #febb4b;
        position: fixed;
        z-index: 999;
        width: 100%;
        background : linear-gradient(to top right , #febb4b, #ffb73c);
        padding: 2.5rem 1rem 1rem 1rem;
        ion-title {
            color: white;
            font-size: 2rem;
            font-weight: bold;
            font-family: 'Poppins';
        }
        ion-title:nth-child(2) {
            color: white;
            font-size: medium;
            font-weight: 500;
            font-family: 'Poppins';
            padding-bottom: 1rem;
        }
        ion-searchbar.custom {
            margin : 0 .5rem;
            --background: rgb(255, 255, 255);
            --color: #424242;
            --placeholder-color: #424242;
            --icon-color: #424242;
            --clear-button-color: #424242;  
            --border-radius: 15px;
            --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        }


        .add-btn {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 1rem;
          button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 15px 0;
            width: 70%;
            background : none;
            border: 2px solid white;
            color: white;
            border-radius: 20px;
            font-weight: 900;
            ion-icon {
              font-size: large;
            }
          }
        }

    }

    .bottom {
        background : white;
        padding: 1rem 0;
        border-radius: 20px 20px 0 0 ;
        ion-list {
            background : none;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 1rem 9rem 1rem;
            .no-found {
              background: white;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              img {
                width: 70%;
              }
              ion-title {
                --color : #424242;
                font-weight: 500;
                font-size: medium;
                font-family: 'Poppins';
              }
            }
            .riwayat {
              width: 100%;
              align-items: center;
              margin : 8px;
              padding: 1rem 1.5rem;
              background : white;
              color: #424242;
              box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
              border-radius: 15px;
              line-height: .5;
              h1 {
                font-size: large;
              }
              p {
                font-size: small;
                color: #777676;
              }
            }


          }
    }
}
.date-selector {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

ion-item {
  margin-bottom: 15px;
}

ion-button {
  margin-top: 10px;
}


ion-modal {

  ion-header {
    ion-toolbar {
      --background : white;
      padding-top: 45px;
      padding-bottom: 15px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    ion-title {
      font-weight: bold;
      font-size: larger;
      text-align: center;
    }
    ion-button {
      position: absolute;
      left: 1rem;
    }
  }
  
  
  ion-content {
    --background : white;
    .date-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 0;
      ion-datetime {
        background: white;
        border-radius: 16px;
        padding: 16px;
        box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2); 
        --wheel-fade-background-rgb: 255,255,255;
      }
      
      ion-datetime::part(wheel-item) {
        color: #febb4b;
      }
      
      ion-datetime::part(wheel-item active) {
        color: #CF8F24;
      }
  
      ion-datetime::part(calendar-day) {
        color: #424242;
      }
      
      ion-datetime::part(calendar-day today) {
        color: #CF8F24;
      }
  
      ion-datetime::part(calendar-day active) {
        color: white;
      }
      
      ion-datetime::part(calendar-day):focus {
        background-color: rgba(209, 181, 98, 0.2);
        box-shadow: 0px 0px 0px 4px rgba(209, 181, 98, 0.2);
      }
      
      /*
      * Custom Material Design Datetime Day Parts
      * -------------------------------------------
      */
      
      ion-datetime.md::part(calendar-day active),
      ion-datetime.md::part(calendar-day active):focus {
        background-color: #febb4b;
        border-color: #febb4b;
        color: #fff;
      }
      
      ion-datetime.md::part(calendar-day today) {
        border-color: #febb4b;
      }
      
      
      ion-button {
        --background: #3880ff;
        --border-radius: 24px;
        --color: #ffffff;
      }
    }
  }
    
  
  ion-footer {
    ion-toolbar {
      --background : white;
      .btn {
        display: flex;
        justify-content: center;
        ion-button {
          width: 70%;
          height: auto;
          --border-radius: 30px;
          --background: #CF8F24;
          margin: 2rem 0 2rem 0;
          ion-title {
            color: white;
            font-size: medium;
          }
        }
      }
    }
  }

}