<ion-content>

  <!-- <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

  <div class="container-find">
    <ion-row>

        <ion-searchbar
          showCancelButton="focus"
          class="custom"
          [(ngModel)]="searchQuery"
          (ionInput)="filterCampaigns()"
        ></ion-searchbar>

    </ion-row>

    <div class="add-btn">
      <button *ngIf="user_level === '1'"  (click)="openAddCampaignModal()"><ion-icon name="person-add-outline"></ion-icon> Campaign Baru</button>
    </div>

  </div>

  <div style="padding: 0; width: 100%; position: fixed; overflow-y: scroll; background: white; height: 100%; border-radius: 20px 20px 0 0;" [style.margin-top]="user_level === '1' ? '14rem' : '10rem'">

    <div class="container-main">

      <ion-loading class="custom-loading" [isOpen]="isLoading" message="Loading..." [duration]="3000"></ion-loading>
      <ion-list>

        <div class="no-found" *ngIf="filteredCampaigns?.length === 0">
            <img src="assets/no-found.png" alt="anajy ">
            <ion-title>Data Tidak Ditemukan.</ion-title>
        </div>

        <div class="main" (click)="openChatModal(campaign)" *ngFor="let campaign of filteredCampaigns; let ind = index">
          <div class="profile" [ngStyle]="{'background-color': getBackgroundColor(campaign.name)}">
            {{ getInitial(campaign.name) }}
          </div>
          <ion-grid class="name">
            <ion-title>{{ campaign.name }}</ion-title>
            <ion-title class="desk">{{ campaign.description }}</ion-title>
          </ion-grid>
        </div>

        <div class="tampilkan-btn" *ngIf="filteredCampaigns?.length != 0 ">
          <ion-button fill="clear" (click)="loadMoreData()">
            <div class="label">
              <ion-icon name="chevron-down-outline"></ion-icon>
              <ion-title>Tampilkan Lebih Banyak</ion-title>
            </div>
          </ion-button>
        </div>

      </ion-list>

    <ion-modal class="chat-modal" [isOpen]="chatModal">
      <ng-template>

        <ion-header>
          <ion-toolbar>
            
            <ion-button slot="start" fill="clear" size="small" (click)="closeChatModal()" >
              <ion-icon style="color:#FC9C4C; font-size: 2rem;" name="chevron-back-outline"></ion-icon>
            </ion-button>
            <div class="label">
              <!-- <ion-icon name="information-circle-outline"></ion-icon> -->
              <ion-title style="color: black;"> Detail </ion-title>
            </div>
          </ion-toolbar>
        </ion-header>

        <ion-content>
          <ion-grid>
            <ion-row>

              <ion-item>
                <ion-grid>
                  <ion-title>Nama Campaign : </ion-title>
                  <ion-title> {{ selectedCampaign.name }} </ion-title>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-title>Dikirim Kepada : </ion-title>
                  <ion-title> {{ selectedCampaign.phone_list.length }} kontak</ion-title>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-title> Tanggal Kirim : </ion-title>
                  <ion-title> {{ selectedCampaign.date_campign }}</ion-title>
                </ion-grid>
              </ion-item>
            </ion-row>


          </ion-grid>

          <div class="deskripsi">
            <ion-grid>
              <ion-title> Deskripsi </ion-title>
              <p> {{ selectedCampaign.description }}</p>
            </ion-grid>
          </div>

        </ion-content>

      </ng-template>
    </ion-modal>

    <ion-modal class="custom-modal" [isOpen]="isAddCampaignModalOpen" (ionModalDidDismiss)="closeAddCampaignModal()">
      <ng-template>

        <ion-header>
          <ion-toolbar>
            <ion-button slot="start" fill="clear" size="small" (click)="closeAddCampaignModal()" >
              <ion-icon style="color:#FC9C4C; font-size: 2rem;" name="chevron-back-outline"></ion-icon>
            </ion-button>
            <ion-title style="color: black;">Tambah Campaign</ion-title>
          </ion-toolbar>
        </ion-header>


        <ion-content>

          <div class="content" *ngIf="customer.length > 0">

            <ion-grid class="form-phone">
              <ion-title>Pilih Kontak</ion-title>

              <ion-searchbar showCancelButton="focus" class="custom" (ionInput)="searchContacts($event)"></ion-searchbar>

              <div class="pilih-semua">
                <ion-checkbox [(ngModel)]="selectAllChecked" (ionChange)="toggleSelectAll($event)" labelPlacement="end"></ion-checkbox>
                <ion-title>* Pilih Semua</ion-title>
              </div>

              <!-- Menampilkan kontak, hanya 3 pertama jika showAllContacts = false -->
              <ion-item *ngFor="let contact of (showAllContacts ? customerFiltered : customerFiltered.slice(0, 3))">
                <div class="checkbox">
                  <ion-checkbox [(ngModel)]="contact.selected" (ionChange)="checkIfAllSelected()"></ion-checkbox>
                </div>
                <div class="contact" *ngIf="contact">
                  <ion-title>{{ contact.name }}</ion-title>
                  <ion-title>{{ contact.number }}</ion-title>
                </div>
              </ion-item>

              <!-- Tombol "Tampilkan Semua" dan "Sembunyikan" -->
              <div class="tampilkan-btn" *ngIf="customerFiltered.length > 3">
                <ion-button fill="clear" *ngIf="!showAllContacts" (click)="toggleShowContacts(true)">
                  <div class="label">
                    <ion-icon name="chevron-down-outline"></ion-icon>
                    <ion-title>Tampilkan Semua</ion-title>
                  </div>
                </ion-button>
                <ion-button fill="clear" *ngIf="showAllContacts" (click)="toggleShowContacts(false)">
                  <div class="label">
                    <ion-icon name="chevron-up-outline"></ion-icon>
                    <ion-title>Sembunyikan</ion-title>
                  </div>
                </ion-button>
              </div>

            </ion-grid>


            <ion-grid class="form">
              <ion-input [(ngModel)]="chatData.name" type="text" label="Nama Campaign" label-placement="floating" required></ion-input>
            </ion-grid>

            <ion-grid class="form">
              <ion-input [(ngModel)]="chatData.description" type="text" label="Deskripsi Campaign" label-placement="floating" required></ion-input>
            </ion-grid>



            <!-- <ion-accordion-group>
              <ion-accordion value="1">
                <ion-item slot="header" color="light">
                  <ion-label>Real / Custom Time</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-grid>

                      <ion-row>
                        <ion-col size="8"><b><span>(Rekomendasi)</span>Membership</b></ion-col>
                        <ion-col size="4">Gold</ion-col>

                        <ion-col size="8"><b>Limit kontak</b></ion-col>
                        <ion-col size="4">No Limit</ion-col>

                        <ion-col size="8"><b>Waktu Pengiriman</b></ion-col>
                        <ion-col size="4">Real / Custom Time</ion-col>
                      </ion-row>
                      <ion-row style="border-top: 1px solid lightgray;">
                        <ion-col size="6">
                          <ion-button expand="block" (click)="openDialog()">Real/Custom Time</ion-button>
                        </ion-col>
                      </ion-row>

                  </ion-grid>
                </div>
              </ion-accordion>

              <ion-accordion value="2">
                <ion-item slot="header" color="light">
                  <ion-label>Custom Time</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-grid>

                    <ion-row>
                        <ion-col size="8"><b><span>(Rekomendasi)</span>Membership</b></ion-col>
                        <ion-col size="4">Silver</ion-col>

                        <ion-col size="8"><b>Batas Kontak</b></ion-col>
                        <ion-col size="4">25 Kontak</ion-col>

                        <ion-col size="8"><b>Waktu Pengiriman</b></ion-col>
                        <ion-col size="4">Custome Time</ion-col>
                      </ion-row>

                      <ion-footer>
                        <ion-toolbar>
                          <ion-row>
                            <ion-col size="12" class="ion-align-items-end">
                              <ion-button expand="block" (click)="openDialogSigle()">Custom Time</ion-button>
                            </ion-col>
                          </ion-row>
                        </ion-toolbar>
                      </ion-footer>

                    </ion-grid>
                </div>
              </ion-accordion>

              <ion-accordion value="3">
                <ion-item slot="header" color="light">
                  <ion-label>Real Time</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-grid>

                    <ion-row>
                        <ion-col size="8"><b><span>(Rekomendasi)</span>Membership</b></ion-col>
                        <ion-col size="4">Bronze</ion-col>

                        <ion-col size="8"><b>Batas Kontak</b></ion-col>
                        <ion-col size="4">15 Kontak</ion-col>

                        <ion-col size="8"><b>Waktu Pengiriman</b></ion-col>
                        <ion-col size="4">Real Time</ion-col>
                      </ion-row>

                        <ion-footer>
                          <ion-toolbar>
                            <ion-row>
                              <ion-col size="12" class="ion-align-items-end">
                                <ion-button expand="block" (click)="submitNewCampaign()">Kirim</ion-button>
                              </ion-col>
                            </ion-row>
                          </ion-toolbar>
                        </ion-footer>

                      </ion-grid>
                </div>
              </ion-accordion>
            </ion-accordion-group> -->

            <ion-grid class="accordion">

              <ion-toolbar>
                <ion-title slot="start">* Pengaturan waktu pengiriman</ion-title>
              </ion-toolbar>


              <ion-grid class="value" (click)="goldprivilege()">
                <ion-row>
                  <ion-title>Real / Custom Time</ion-title>
                  <ion-icon name="chevron-down-outline" *ngIf="!goldPrivilege"></ion-icon>
                  <ion-icon name="chevron-up-outline" *ngIf="goldPrivilege"></ion-icon>
                </ion-row>
              </ion-grid>
              <ion-grid class="value-item" *ngIf="goldPrivilege">
                <div class="membership">
                  <ion-title style="background: linear-gradient(to right, #FEBB4B,#dd971d); padding: 1rem 2rem; border-radius: 15px; margin: 1rem; box-shadow: 0px 4px 10px rgba(255, 186, 57, 0.995);">
                      Membership Gold
                    </ion-title>
                  </div>
                  <ion-title>Batas Unlimited Kontak</ion-title>
                  <div class="btn">
                    <ion-button expand="block" (click)="openDialog()">Real/Custom Time</ion-button>
                  </div>
                </ion-grid>


                <ion-grid class="value" (click)="silverprivilege()">
                  <ion-row>
                    <ion-title>Custom Time</ion-title>
                    <ion-icon name="chevron-down-outline" *ngIf="!silverPrivilege"></ion-icon>
                    <ion-icon name="chevron-up-outline" *ngIf="silverPrivilege"></ion-icon>
                  </ion-row>
              </ion-grid>
              <ion-grid class="value-item" *ngIf="silverPrivilege">
                <div class="membership">
                  <ion-title style="background: linear-gradient(to right, #1EA7CE,#156074); padding: 1rem 2rem; border-radius: 15px; margin: 1rem; box-shadow: 0px 4px 10px rgba(111, 231, 252, 0.995);">
                    Membership Silver
                  </ion-title>
                </div>
                <ion-title>Batas 25 Kontak</ion-title>
                <div class="btn">
                  <ion-button expand="block" (click)="openDialogSigle()">Custom Time</ion-button>
                </div>
              </ion-grid>



              <ion-grid class="value" (click)="bronzeprivilege()">
                <ion-row>
                  <ion-title>Real Time</ion-title>
                  <ion-icon name="chevron-down-outline" *ngIf="!bronzePrivilege"></ion-icon>
                  <ion-icon name="chevron-up-outline" *ngIf="bronzePrivilege"></ion-icon>
                </ion-row>
              </ion-grid>
              <ion-grid class="value-item" *ngIf="bronzePrivilege">
                <div class="membership">
                  <ion-title style="background:linear-gradient(to right, #a37541, #684216) ; padding: 1rem 2rem; border-radius: 15px; margin: 1rem; box-shadow: 0px 4px 10px rgba(186, 172, 151, 0.995);">
                    Membership Bronze
                  </ion-title>
                </div>
                <ion-title>Batas 15 Kontak</ion-title>
                <div class="btn">
                  <ion-button expand="block" (click)="submitNewCampaign()">Real Time</ion-button>
                </div>
              </ion-grid>


            </ion-grid>

          </div>
        </ion-content>

      </ng-template>
    </ion-modal>


  </div>
</div>


</ion-content>
