ion-content {
  --background : #febb4b;
  --padding-top : 2rem;
  .container-find {
    // background : #febb4b;
    position: fixed;
    z-index: 999;
    width: 100%;
    background : linear-gradient(to top right , #febb4b, #ffb73c);
    padding: 2.5rem 1rem 1rem 1rem;
    ion-title { 
        color: white;
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Poppins';
    }
    ion-title:nth-child(2) {
        color: white;
        font-size: medium;
        font-weight: 500;
        font-family: 'Poppins';
        padding-bottom: 1rem;
    }
    ion-searchbar.custom {
        margin : 0 .5rem;
        --background: rgb(255, 255, 255);
        --color: #424242;
        --placeholder-color: #424242;
        --icon-color: #424242;
        --clear-button-color: #424242;  
        --border-radius: 15px;
        --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }


    .add-btn {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 15px 0;
        width: 70%;
        background : none;
        border: 2px solid white;
        color: white;
        border-radius: 20px;
        font-weight: 900;
        ion-icon {
          font-size: large;
        }
      }
    }

}

  .container-main {
    padding: 1rem .5rem;
    background :white;
    border-radius: 20px 20px 0 0;
    ion-list {
      background : none;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 1rem 12rem 1rem;
      border-radius: 20px 20px 0 0;
      .main {
        border-radius: 20px 20px 0 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin : 8px;
        padding: 1rem ;
        background :white;
        color: #424242;
        border-radius: 15px;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
        .profile {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-weight: bolder;
          font-size: larger;
          padding: 0;
          margin: 0;
        }
        .name {
          width: 75%;
          ion-title {
            font-size: large;
            font-weight: bold;
            // text-align: start;
          }
          ion-title:nth-child(2) {
            font-size: small;
            color: rgb(112, 112, 112);
            text-overflow: ellipsis;
          }
        }
        .date {
          width: 25%;
          ion-title {
            font-size: small;
            font-weight: bold;
            // text-align: start;
          }
          ion-title:nth-child(2) {
            font-size: small;
            color: rgb(112, 112, 112);
          }
        }
      }

      .tampilkan-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 7rem;
        .label {
          display: flex;
          justify-content: center;
          align-items: center;
          ion-title {
            color: #CF8F24;
            font-size: small;
          }
          ion-icon {
            color: #CF8F24;
            font-size: large;
          }
        }
      }

      .no-found {
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 70%;
        }
        ion-title {
          --color : #424242;
          font-weight: 500;
          font-size: medium;
          font-family: 'Poppins';
        }
      }
      
    }
  }
}

.chat-modal {
  --background : white;
  height: 100%;
  ion-header {
    ion-toolbar {
      --background : white;
      padding-top: 45px;
      padding-bottom: 15px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    ion-title {
      font-weight: bold;
      font-size: larger;
      text-align: center;
    }
    ion-button {
      position: absolute;
      left: 1rem;
    }
  }
  ion-content {
    // --background : white;
    --background : linear-gradient(to top, #febf5925, white);
    padding: 2rem;
    ion-grid {
      padding: 2rem 1rem 2rem 0;
      ion-item {
        width: 100%;
        color: #424242;
        --background: none;
        margin-bottom: .5rem;
        ion-grid {
          padding: .5rem 0 1rem 0 ;
          ion-title {
            font-size: medium;
            color: #777676;
            padding-bottom: .5rem;
          }
          ion-title:nth-child(2) {
            font-size: larger;
            color: #424242;
          }
        }
      }
    }
    .deskripsi {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1.5rem;
      ion-grid {
        background : white;
        width: 100%;
        height: auto;
        padding: 1rem .5rem ;
        color: #424242;
        // border: 2px solid #febb4b;
        border-radius: 15px;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
        ion-title {
          font-size: medium;
          color: #CF8F24;
        }
        p {
          font-size: large;
          color: #424242;
          width: 100%;
          padding: 0 1rem;
        }
      }
    }
  }
}

.custom-modal {
  --background : white;
  height: 100%;
  ion-header {
    ion-toolbar {
      --background : white;
      padding-top: 45px;
      padding-bottom: 15px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    ion-title {
      font-weight: bold;
      font-size: larger;
      text-align: center;
    }
    ion-button {
      position: absolute;
      left: 1rem;
    }
  }
  ion-content {
    --background : white;
    padding: 1rem;
    .content {
      width: 100%;
      height: 100%;
      background : white;
      color: #424242;
      padding: 1rem;
      .form {
        color: #454545;
        background: white ;
        width: 100%;
        padding: .5rem 1.5rem;
        margin: .5rem 0;
        text-align: start;
        // border: 2px solid #454545;
        box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.221);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
      .form-phone {
        color: #454545;
        background: white ;
        width: 100%;
        padding: 2rem 1rem;
        margin: 1rem 0;
        box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.221);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        ion-searchbar.custom {
          --background: rgb(255, 255, 255);
          --color: #424242;
          --placeholder-color: #424242;
          --icon-color: #424242;
          --clear-button-color: #424242;  
          --border-radius: 15px;
          --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        }
        .pilih-semua {
          display: flex;
          width: 100%;
          padding: .5rem 1rem 1rem 1rem;
          gap: 6px;
          ion-checkbox {
            --size: 18px;
            --checkbox-background : white;
            --checkbox-background-checked: #febb4b;
            color: white;
            background: white;
            // --checkbox-color : white;
          }
          
          ion-checkbox::part(container) {
            // --color : white;
            border-radius: 6px;
            border: 2px solid #febb4b;
          }
          ion-title {
            color: #777676;
            font-size: small;
            padding: 0;
          }
        }
        ion-title {
          font-size: medium;
        }
        ion-item {
          --background : white;
          .checkbox {
            padding: 1rem;
            ion-checkbox {
              --size: 20px;
              --checkbox-background : white;
              --checkbox-background-checked: #febb4b;
              color: white;
              background: white;
              // --checkbox-color : white;
            }
            
            ion-checkbox::part(container) {
              // --color : white;
              border-radius: 6px;
              border: 2px solid #febb4b;
            }
          }
          .contact {
            color: #424242;
            ion-title {
              font-size: medium;
            }
            ion-title:nth-child(2) {
              font-size: small;
              color: #777676;
            }
          }
        }
        .tampilkan-btn {
          width: 100%;
          display: flex;
          justify-content: center;
          .label {
            display: flex;
            justify-content: center;
            align-items: center;
            ion-title {
              color: #CF8F24;
              font-size: small;
            }
            ion-icon {
              color: #CF8F24;
              font-size: large;
            }
          }
        }

      }

      .accordion {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0 3rem 0;
        ion-toolbar {
          --background : none;
          ion-title {
            font-size: small;
            color: #CF8F24;
          }
        }
        .value{
          width: 100%;
          margin: .5rem;
          background: white;
          padding:1.5rem 1rem;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          ion-title {
            font-size: medium;
            color: #424242;
          }
          ion-icon {
            font-size: x-large;
            color: #424242;
          }
        }
        .value-item{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: .5rem .5rem 2rem .5rem;
          background: white;
          border: 2px solid #febb4b;
          padding:1.5rem 1rem;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
          border-radius: 15px;
          transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
          ion-title {
            font-size: medium;
            padding: 1rem;
            color: #777676;
          }
          .membership {
            // width: 100%;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            ion-title {
              color: white;
              font-size: medium;
              text-align: center;
            }
          }
          .btn {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            ion-button {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: small;
              --background : #febb4b;
              color: white;
              --border-radius: 15px;
              font-weight: bold;
            }
          }
        }
      }
      // ion-accordion-group {
      //   ion-accordion {
      //     background : white;
      //     --color :#424242;
      //     ion-item {
      //       --background : white;
      //       color : #424242;
      //     }
      //   }
      // }

    }
  }
}

