<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <div class="circle">
        <ion-icon name="home"></ion-icon>
      </div>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="riwayat">
      <div class="circle">
        <ion-icon name="time"></ion-icon>
      </div>
      <ion-label>Riwayat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <div class="circle">
        <ion-icon name="chatbox-ellipses"></ion-icon>
      </div>
      <ion-label>Pesanan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <div class="circle">
        <ion-icon name="person"></ion-icon>
      </div>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
