ion-tab-bar {
    --background: #CF8F24;
    overflow: visible !important; 
    position: relative; 
    z-index: 1;
    contain: none;
}

ion-tab-button {
    position: relative;
    .circle {
        width: auto;
        height: auto;
        padding: 1rem;
        background: transparent;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-icon {
            color: white; 
            font-size: large;
        }
    }
    ion-label {
        font-size: small;
        font-weight: bold;
        color: white;
        display: none;
        // margin: 10px;
    }
}


ion-tab-button.active {
    .circle {
        width: auto;
        height: auto;
        padding: 1rem;
        border: 6px solid white;
        background: #febb4b;
        bottom: 30px;
        border-radius: 50%;
        position: fixed;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-icon {
            transition: .10s ease-in-out;
            color: white;
            font-size: x-large;
        }
    }
    ion-label {
        font-size: x-small;
        font-weight: 500;
        color: white;
        display: flex;
        position: absolute;
        bottom:  8px;
    }
}


