ion-content {
  --background: #f4f4f4;
}

.container {
  padding: 10px;
}

.completed {
  font-weight: bold;
  color: green;
}

ion-item {
  --background: white;
  border-radius: 10px;
  margin-bottom: 8px;
}

ion-modal {
  --width: 90%;
  --height: auto;
  border-radius: 10px;
}
