<ion-header>
  <ion-button slot="start" fill="clear" size="small" (click)="router.navigate(['tab/profile'])">
    <ion-icon style="color:#FC9C4C; font-size: 2rem;" name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-title style="color: black;">Verifikasi Nomor</ion-title>
</ion-header>

<ion-content>

  <p>
    Verifikasi akun anda sebelum melanjutkan.
  </p>

  <!-- <ion-item-group class="ion-margin-horizontal ion-margin-bottom">
    <form [formGroup]="form">
      <div class="ion-margin-vertical">
        <ion-item>
          <ion-input formControlName="phone" placeholder="Phone Number" type="tel" readonly>
          </ion-input>
        </ion-item>
      </div>
    </form>
  </ion-item-group> -->

  <div class="phone-container">
    <form [formGroup]="form">
      <ion-grid>
        <ion-row>
          <ion-input formControlName="phone" placeholder="Phone Number" type="tel" readonly></ion-input>
        </ion-row>
      </ion-grid>
    </form>
  </div>

  <ion-grid class="btn">
    <ion-button expand="block" shape="round" class="custom-login-button" (click)="OpenAlert()">
      <ion-title>Lanjut</ion-title>
    </ion-button>
  </ion-grid>

</ion-content>