ion-header {
    background :white;
    padding: 50px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ion-title {
      font-weight: bold;
      font-size: larger;
      text-align: center;
    }
    ion-button {
      --background : none;
      position: absolute;
      left: 1rem;
    }
}

ion-content {
    --background : white;
    p {
        color: #424242;
        font-size: medium;
        text-align: center;
        padding: 2rem;
        // text-overflow: clip;
    }
    .phone-container {
        display: flex;
        justify-content: center;
        width: 100%;
        ion-grid {
            box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
            margin: 0 3rem;
            background : white;
            border-radius: 15px;
            ion-input {
                color: black;
                font-size: large;
                font-weight: 700;
                text-align: center;
            }
        }
    }
    .btn {
        ion-button {
          margin: 2rem 2rem 0 2rem;
          --background : #CF8F24;
          ion-title {
            color: white;
            font-size: medium;
          }
        }
      }
}
