<ion-header>
  <ion-button slot="start" fill="clear" size="small" (click)="router.navigate(['tab/home'])" >
    <ion-icon style="color:#FC9C4C; font-size: 2rem;" name="chevron-back-outline"></ion-icon>
  </ion-button>
  <div class="label">
    <!-- <ion-icon name="information-circle-outline"></ion-icon> -->
    <ion-title style="color: black;"> Detail Item </ion-title>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="detail-container">
    <img [src]="item?.image" alt="{{ item?.name }}" class="item-image">
    <div class="detail-info">
      <h1>{{ item?.name }}</h1>
      <b>{{ item?.description }}</b>
      <p>{{ item?.price | currency: 'Rp. ' }}</p>
    <img [src]="item.img_url" (error)="setDefaultImage($event)"  alt="{{ item?.name }}" class="item-image">
  </div>
  <div class="detail-info">
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <div class="price">
      <p>{{ item.price | currency: 'Rp. ' }}</p>
      <ion-button class="btn-cart" fill="solid" shape="round" (click)="openModal(item)">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <ion-button color="danger" fill="solid" shape="round" (click)="deleteProduct(item.id)">
    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
  </ion-button>
  <!-- <ion-modal #detailModal [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]" [presentingElement]="ionRouterOutlet" [canDismiss]="true">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title class="modal-title">Tambahkan Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="modal-content">
          <div class="modal-item-details">
            <img [src]="item?.image" alt="{{ item?.name }}">
            <div class="modal-item-info">
              <b>{{ item?.name }}</b>

              <p>{{ item?.price | currency: 'Rp. ' }}</p>
              <div class="qty-controls">
                <ion-button (click)="decrementQty()">-</ion-button>
                <span>{{ qty }}</span>
                <ion-button (click)="incrementQty()">+</ion-button>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
      <ion-footer>
        <ion-button expand="block" class="add-to-cart-btn" (click)="addToCart(item)">
          Masuk ke keranjang - Rp. {{ calculateTotal() }}
        </ion-button>
      </ion-footer>
    </ng-template>
  </ion-modal> -->


  <ion-modal class="custom-modal" #detailModal [initialBreakpoint]="0.55" [breakpoints]="[0, 0.55]" [presentingElement]="ionRouterOutlet" [canDismiss]="true">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title class="modal-title">Tambahkan Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="modal-content">
          <div class="item">
            <!-- <img src="assets/menu.png" alt="{{ selectedItem?.name }}" /> -->
            <img [src]="item.img_url" (error)="setDefaultImage($event)" alt="{{ item.name }}" />
            <div class="desc">
              <b>{{ item.name }}</b>
              <p>{{ item.price | currency: 'IDR':'symbol' }}</p>
              <div class="qty-controls">
                <ion-button (click)="decrementQty()">-</ion-button>
                <span>{{ qty }}</span>
                <ion-button (click)="incrementQty()">+</ion-button>
              </div>
            </div>
          </div>
        </div>
        <div class="btn">
          <ion-button expand="block" (click)="addToCart(item)">Masuk ke Troli - Rp.{{ calculateTotal() }}</ion-button>
          <!-- <ion-button expand="block" style=" --background :rgb(203, 81, 72); --color : white">Beli Sekarang - Rp. {{ calculateTotal() }}</ion-button> -->
        </div>
      </ion-content>
      <ion-footer>
      </ion-footer>
    </ng-template>
  </ion-modal>



