<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="router.navigate(['tab/home'])">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="detail-container">
    <img [src]="item?.image" alt="{{ item?.name }}" class="item-image">
    <div class="detail-info">
      <h1>{{ item?.name }}</h1>
      <p>{{ item?.price | currency: 'Rp. ' }}</p>
      <ion-button class="btn-cart" fill="solid" shape="round" (click)="openModal(item)">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <ion-modal #detailModal [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]" [presentingElement]="ionRouterOutlet" [canDismiss]="true">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title class="modal-title">Tambahkan Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="modal-content">
          <div class="modal-item-details">
            <img [src]="item?.image" alt="{{ item?.name }}">
            <div class="modal-item-info">
              <b>{{ item?.name }}</b>
              <p>{{ item?.price | currency: 'Rp. ' }}</p>
              <div class="qty-controls">
                <ion-button (click)="decrementQty()">-</ion-button>
                <span>{{ qty }}</span>
                <ion-button (click)="incrementQty()">+</ion-button>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
      <ion-footer>
        <ion-button expand="block" class="add-to-cart-btn" (click)="addToCart(item)">
          Masuk ke keranjang - Rp. {{ calculateTotal() }}
        </ion-button>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>
