<ion-header>
  <ion-button slot="start" fill="clear" size="small" (click)="router.navigate(['tab/home'])">
    <ion-icon style="color:#FC9C4C; font-size: 2rem;" name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-title style="color: black;">Keranjang Saya ({{ getItemCount() }}) </ion-title>
</ion-header>

<ion-content>
  <!-- Pilih Semua -->
  <div class="pilih-semua">
    <ion-checkbox
      labelPlacement="end"
      slot="start"
      [checked]="selectAllChecked"
      (ionChange)="toggleSelectAll($event)"
      ></ion-checkbox>
    <ion-title>* Pilih Semua</ion-title>
  </div>

  <div class="no-found" *ngIf="cartItems.length === 0">
    <img src="assets/empty-cart.png" alt="anajy ">
    <ion-title>Keranjang Anda Kosong.</ion-title>
  </div>


  <ion-card class="item-card" *ngFor="let item of cartItems">
    <!-- <ion-item> -->
      <div class="main">
        <ion-checkbox [checked]="selectedItems.includes(item)" slot="start" [(ngModel)]="item.selected" (ionChange)="toggleSelection(item, $event)">
        </ion-checkbox>
        <ion-thumbnail slot="start">
          <!-- <img src="assets/menu.png" alt="{{ item.name }}" /> -->
          <img [src]="item.image" (error)="setDefaultImage($event)" alt="{{ item.name }}" />
        </ion-thumbnail>
        <ion-grid>
          <ion-title>{{ item.name }}</ion-title>
          <ion-title>{{ item.price | currency: 'Rp. ' }} x {{ item.qty }}</ion-title>
          <div class="increment">
            <button (click)="decreaseQty(item)">-</button>
            <ion-label>{{ item.qty }}</ion-label>
            <button (click)="increaseQty(item)">+</button>
          </div>
        </ion-grid>
        <ion-button slot="end" fill="clear" (click)="removeItem(item)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </div>



  </ion-card>

  <ion-card class="metode-card">
    <div>
      <ion-title>*Metode Pembayaran</ion-title>
      <ion-select color="warning"  [value]="paymentMethod"
      (ionChange)="paymentMethod = $event.detail.value; onPaymentMethodChange($event)"
      placeholder="Pilih Metode"
      interface="action-sheet"
      slot="end">
        <ion-select-option value="CA">Cash</ion-select-option>
        <ion-select-option value="VA">Virtual Account</ion-select-option>
        <ion-select-option value="TF">Transfer</ion-select-option>
        <ion-select-option value="DC">Debet/Credit Card</ion-select-option>
      </ion-select>
    </div>
  </ion-card>
  

  <ion-card class="customer-info-card">
    <ion-grid>
      <ion-row>
        
        <div>
          <!-- <ion-label position="floating">Nama Pelanggan</ion-label> -->
          <ion-input label="Nama Pelanggan" label-placement="floating" type="text" [(ngModel)]="customer_name" (ionInput)="onCustomerNameChange($event)"></ion-input>
        </div>
    
        <div>
          <!-- <ion-label position="floating">Nomor Telepon</ion-label> -->
          <ion-input label="Nomor Telepon" label-placement="floating" type="tel" [(ngModel)]="customer_phone" (ionInput)="onCustomerPhoneChange($event)"></ion-input>
        </div>

      </ion-row>
    </ion-grid>


  </ion-card>

  <ion-card class="option-card">
    <ion-title>*Opsi Pengiriman</ion-title>
    <div>
      <ion-segment color="warning" [(ngModel)]="deliveryOption">
        <ion-segment-button value="takeaway">Takeaway</ion-segment-button>
        <ion-segment-button value="delivery">Delivery</ion-segment-button>
      </ion-segment>
    </div>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-label>Subtotal: </ion-label>
          <ion-title> {{ calculateSubtotal() | currency: 'Rp. ' }}</ion-title>
        </ion-col>
        <ion-col size="6">
          <ion-label>Diskon:</ion-label>
          <ion-title> {{ discount | currency: 'Rp. ' }}</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-label>GST (10%): </ion-label>
          <ion-title> {{ gst | currency: 'Rp. ' }}</ion-title>
        </ion-col>
        <ion-col size="6">
          <ion-label>Total:</ion-label>
          <ion-title> {{ calculateTotal() | currency: 'Rp. ' }}</ion-title>
        </ion-col>
      </ion-row>
      <ion-button expand="block" (click)="pay()">
        <ion-title>Bayar</ion-title>
      </ion-button>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
