ion-header {
    background :white;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ion-title {
      font-weight: bold;
      font-size: larger;
      text-align: center;
    }
    ion-button {
      --background : none;
      position: absolute;
      left: 1rem;
    }
}


ion-content {
    --background : white;
    .pilih-semua {
        display: flex;
        width: 100%;
        padding: 1.5rem;
        gap: 6px;
        ion-checkbox {
          --size: 18px;
          --checkbox-background : white;
          --checkbox-background-checked: #febb4b;
          color: white;
          background: white;
          // --checkbox-color : white;
        }
        
        ion-checkbox::part(container) {
          // --color : white;
          border-radius: 3px;
          border: 2px solid #febb4b;
        }
        ion-title {
          color: #777676;
          font-size: medium;
          padding: 0;
        }
      }
    
    .item-card {
        --background : white;
        margin: 1rem;
        .main {
            width: 100%;
            display: flex;
            gap: 15px;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.5rem;
            ion-checkbox {
                --size: 23px;
                --checkbox-background : white;
                --checkbox-background-checked: #febb4b;
                color: white;
                background: white;
                // --checkbox-color : white;
            }
            ion-checkbox::part(container) {
                // --color : white;
                border-radius: 3px;
                border: 2px solid #febb4b;
            }
            // ion-thumbnail {
            //     width: auto;
            //     padding: 20px;
            // }
            ion-grid {
                width: 100%;
                ion-title {
                    color: #424242;
                    font-size: large;
                    font-weight: 700;
                    padding: 0;
                }
                ion-title:nth-child(2) {
                    color: #8d8d8d;
                    font-size: small;
                    padding: 0;
                }
                .increment {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    margin-top: 1rem;
                    button {
                        background : transparent;
                        color:white;
                        width: 20px;
                        height: 20px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: #febb4b;
                        font-weight: bold;
                        font-size: medium;
                    }
                    ion-label {
                        color: #424242;
                    }
                }
            }
            ion-button {
               --background : rgb(255, 82, 82);
               --border-radius : 10px;
               ion-icon {
                color: white;
               }
            }
        }
    }
    .metode-card {
        --background : white;        
        margin: 3rem 1rem 1rem 1rem ;
        border-radius: 15px;
        div {
            display: flex;
            width: 100%;
            padding: 1rem 3rem;
            justify-content: center;
            gap: 2rem;
            ion-title {
                font-size: medium;
                padding: 0;
                color: #CF8F24;
            }
            ion-select {
                color: #424242;
            }
        }
    }
    .option-card {
        --background : white;
        margin: 1rem;
        border-radius: 15px;
        ion-title {
            font-size: medium;
            padding: 1rem 1.5rem;
            color: #CF8F24;
        }
        div {
            display: flex;
            width: 100%;
            padding: 0 1rem 1rem 1rem;
            justify-content: center;
            gap: 2rem;
            ion-segment {
                ion-segment-button {
                    color: #424242;
                }
            }
        }
    }
}

ion-footer {
    ion-toolbar {
        --background : white;
        --color : #424242;
        padding: 1.5rem;
        ion-grid {
            ion-row {
                ion-col {
                    padding:10px 2rem;
                    ion-title {
                        padding: 0;
                        font-size: medium;
                    }
                    ion-label {
                        font-size: small;
                        color: #777676;
                    }
                }
            }
            ion-button {
                --background : #cf8f24;
                --border-radius: 10px;
                ion-title {
                    --color : white;
                }
            }
        }
    }
}