<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="header">
      <ion-text color="secondary">
        <h1><b>LOGO</b></h1>
      </ion-text>
    </div>
    <div class="container-find">
      <ion-row>
        <ion-col size="10">
          <ion-searchbar
            showCancelButton="focus"
            class="custom"
            (ionInput)="onSearchChange($event)"
          ></ion-searchbar>
        </ion-col>
        <ion-col size="2">
          <div class="btn-add-card">
            <ion-button
              class="custom"
              (click)="router.navigate(['/keranjang'])"
            >
              <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
              <ion-badge
                *ngIf="cartCount > 0"
                color="danger"
                class="cart-badge"
                >{{ cartCount }}</ion-badge
              >
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <div class="container-filter">
        <div
          *ngFor="let category of categories"
          class="filter"
          [class.active]="category.id === selectedFilter"
          (click)="selectFilter(category.id)"
        >
          <b>{{ category.name }}</b>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-card">
    <ion-row>
      <ion-col size="6" *ngFor="let item of filteredItems">
        <div class="img-container">
          <img
            [src]="item.image"
            alt="{{ item.name }}"
            (click)="openDetailPage(item)"
          />
          <ion-button
            class="btn-cart"
            fill="solid"
            shape="round"
            (click)="openModal(item)"
          >
            <ion-icon slot="icon-only" name="bag-add-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="details">
          <b>{{ item.name }}</b>
          <p>{{ item.price | currency: 'IDR':'symbol' }}</p>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <ion-modal #itemModal [canDismiss]="true">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title class="modal-title">Tambahkan Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="modal-content">
          <img [src]="selectedItem?.image" alt="{{ selectedItem?.name }}" />
          <b>{{ selectedItem?.name }}</b>
          <p>{{ selectedItem?.price | currency: 'IDR':'symbol' }}</p>
          <div class="qty-controls">
            <ion-button (click)="decrementQty()">-</ion-button>
            <span>{{ qty }}</span>
            <ion-button (click)="incrementQty()">+</ion-button>
          </div>
        </div>
      </ion-content>
      <ion-footer>
        <ion-button
          expand="block"
          (click)="addToCart()"
        >
          Masuk ke Keranjang - Rp. {{ calculateTotal() }}
        </ion-button>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>
