<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="logo">
      <img src="assets/otatea-logo.png" alt="">
    </div>

    <div class="container-find">
      <ion-row>
        
        <ion-col size="10">
          <ion-searchbar
            showCancelButton="focus"
            class="custom"
            (ionInput)="onSearchChange($event)"
          ></ion-searchbar>
        </ion-col>

        <ion-col size="2">
          <div class="btn-add-card">
            <ion-button class="custom" (click)="router.navigate(['/keranjang'])">
              <ion-icon slot="icon-only" name="cart"></ion-icon>
                <ion-badge
                  *ngIf="cartCount > 0"
                  >{{ cartCount }}</ion-badge
                >
            </ion-button>
          </div>
        </ion-col>

      </ion-row>

      <div class="container-filter">
        <div
          *ngFor="let category of categories"
          class="filter"
          [class.active]="category.id === selectedFilter"
          (click)="selectFilter(category.id)"
        >
          <b>{{ category.name }}</b>
        </div>
      </div>

    </div>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">


  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="openAddItemModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <div class="no-found" *ngIf="filteredItems?.length === 0">
    <img src="assets/no-found.png" alt="anajy ">
    <ion-title>Data Tidak Ditemukan.</ion-title>
  </div>

  <div class="container-card">

      
      <ion-card size="6" *ngFor="let item of filteredItems">

        <div class="img-container">
          <!-- <img
            src="assets/menu.png"
            alt="{{ item.name }}"
            (click)="openDetailPage(item)"
          /> -->
          <img
            [src]="item.img_url"
            (error)="setDefaultImage($event)"
            alt=" {{ item.name }} "
            (click)="openDetailPage(item)"
          />

          


            <ion-button
              class="btn-delete"
              fill="solid"
              shape="round"
              (click)="deleteProduct(item.id)"
            >
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
  
            <ion-button
              class="btn-cart"
              fill="solid"
              shape="round"
              (click)="openModal(item)"
            >
              <ion-icon slot="icon-only" name="bag-add-outline"></ion-icon>
            </ion-button>

            
          


        </div>

        <div class="details">
          <b>{{ item.name }}</b>
          <p>{{ item.price | currency: 'IDR':'symbol' }}</p>
        </div>
      </ion-card>


  </div>




  <!-- <ion-col size="2">
    <ion-button fill="solid" color="primary" (click)="openAddItemModal()">
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      Tambah Item
    </ion-button>
  </ion-col> -->

  <ion-modal class="add-modal" #addItemModal [canDismiss]="true" backdropDismiss="true" >
    <ng-template>

      <ion-header>
        <ion-button slot="start" fill="clear" size="small" (click)="closeAddItemModal()" >
          <ion-icon style="color:#FC9C4C; font-size: 2rem;" name="chevron-back-outline"></ion-icon>
        </ion-button>
          <ion-title style="color: black;"> Tambahkan Item </ion-title>
      </ion-header>

      <ion-content>

        <div class="modal-content">

          <ion-grid class="form">
            <ion-input [(ngModel)]="itemData.name" type="text" label="Nama Item" label-placement="floating" required></ion-input>
          </ion-grid>
          
          <ion-grid class="form">
            <ion-input [(ngModel)]="itemData.description" type="text" label="Deskripsi Item" label-placement="floating" required></ion-input>
          </ion-grid>

          <ion-grid class="form">
            <ion-select label="Kategori Item" label-placement="floating" [(ngModel)]="itemData.id_category">
              <ion-select-option [value]="categories[1].id">
                {{ categories[1].name }}
              </ion-select-option>
              <ion-select-option [value]="categories[2].id">
                {{ categories[2].name }}
              </ion-select-option>
            </ion-select>
          </ion-grid>
          
          <ion-grid class="form">
            <ion-input [(ngModel)]="itemData.price" type="number" label="Harga Item" label-placement="floating" required></ion-input>
          </ion-grid>
          
          <ion-grid class="photo-btn">
              <ion-button expand="block" (click)="choosePhoto()"><ion-icon name="camera-outline"></ion-icon>Pilih Foto</ion-button>
          </ion-grid>
          
          <ion-grid class="photo-container">
            <div style="display: flex; justify-content: end; width: 100%;">
              <ion-button size="small" color="danger" *ngIf="itemData.photo" (click)="closePhoto()"><ion-icon slot="icon-only" name="close-outline"></ion-icon></ion-button>
            </div>
            <ion-img *ngIf="itemData.photo" [src]="itemData.photo"></ion-img>
          </ion-grid>

        </div>
  
        
      </ion-content>
      
      <ion-footer>
        <ion-toolbar>
          <ion-grid>
              <ion-button expand="block" (click)="addProduct()">
                <ion-title>Tambah Item</ion-title>
              </ion-button>            
          </ion-grid>
        </ion-toolbar>
      </ion-footer>
      


    </ng-template>
  </ion-modal>
  



  <ion-modal #itemModal [canDismiss]="true" backdropDismiss="true" class="custom-modal"  [initialBreakpoint]="0.55" [breakpoints]="[0, 0.55]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title class="modal-title">Tambahkan Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="modal-content">
          <div class="item">
            <!-- <img src="assets/menu.png" alt="{{ selectedItem?.name }}" /> -->
            <img [src]="selectedItem?.img_url" (error)="setDefaultImage($event)" alt="{{ selectedItem?.name }}" />
            <div class="desc">
              <b>{{ selectedItem?.name }}</b>
              <p>{{ selectedItem?.price | currency: 'IDR':'symbol' }}</p>
              <div class="qty-controls">
                <ion-button (click)="decrementQty()">-</ion-button>
                <span>{{ qty }}</span>
                <ion-button (click)="incrementQty()">+</ion-button>
              </div>
            </div>
          </div>
        </div>
        <div class="btn">
          <ion-button expand="block" (click)="addToCart()">Masuk ke Troli - Rp.{{ calculateTotal() }}</ion-button>
          <!-- <ion-button expand="block" style=" --background :rgb(203, 81, 72); --color : white">Beli Sekarang - Rp. {{ calculateTotal() }}</ion-button> -->
        </div>
      </ion-content>
      <ion-footer>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>


