ion-header {
  ion-toolbar {
    --background : white;
    padding-top: 2rem;
  }
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  ion-title {
    font-weight: bold;
    font-size: larger;
    text-align: center;
  }
  ion-button {
    position: absolute;
    left: 1rem;
  }
}


ion-content {
  --background: white;
  overflow: hidden;
  .txt {
    display: flex;
    justify-content: center;
  }
  
  .txt ion-row {
    background-color: #FEBB4B;
    padding: .7rem ;
    margin: 1rem 0;
    border-radius: 10px;
  
    ion-title {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
    }
  }
  
  
  
  .slider-menu {
    display: flex;
    padding: 0 ;
    margin: 0;
    align-items: center;
    gap: 0;
    justify-content: center;
    margin: 25% 0 6.5rem 0;
  }
  
  .card-container {
    padding: 0;
    display: flex;
    align-items: center;
    width: 100% ;
    position: relative;
    overflow :hidden;
    
  }
  
  .slider-container {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 1rem 0;
    width: 100% ;
    flex-shrink: 0;
    align-items: center;
    transition: right 0.5s ease-in-out;
    right: 0 ;
  }
  
  .slider-item {
    padding : 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 20rem;
    border-radius: 10px;
    --background : white;
    position: relative;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2); 
      ion-card-header {
        ion-icon {
          font-size: 5rem;
          align-self: center;
          padding-bottom: 2rem;        
        }
        ion-card-title {
        text-align: center;
        color: #4a4a4a;
        font-weight: bold;
        font-size: larger;
        padding-bottom: 10px;
      }
      ion-card-subtitle{
        color: #4a4a4a;
        font-size: small;
      }   
    }
  }
  
  .slider-container::-webkit-scrollbar {
    height: 8px;
  }
  
  .slider-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .slider-container::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  
  
  
  .footer{
    width: 100%;
    height: 3rem;
    position: relative;
    background-color: #FFDEA7;
    }
  
  .bottom-circle-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: end;
    right:-2.3rem;
    bottom: 4.7rem;
    z-index: 2;
  }
  
  .bottom-circle {
    width: 8rem;
    height: 8rem;
    background-color: #FEBB4B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    position: absolute;
  }
  
  
  .bottom-circle-inside {
    width: 100%;
    height: 100%;
    border-radius: 50% 50%;
    background-color: white;
    // padding: 3rem;
  }
  
  
  .pembayaran {
  padding: 0;
  margin: 0;
  width: 100%;
  // height: 100%;
  ion-grid{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    ion-header{
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      ion-title {
        font-weight: bold;
        font-size: larger;
        text-align: center;
      }
      ion-button {
        position: absolute;
        left: 1rem;
      }
    }
    .text {
      color :#CF8F24;
      font-size: small;
      margin : 2rem 1rem 1rem 1rem;
    }
    ion-grid {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  }
  
  .pay-form {
  width: 85%;
  --background :white;
  margin: 1rem 0 0 0 ;
  border: 3px solid #FEBB4B;
  border-radius: 15px;
  ion-radio-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px;
   --background :none;
    ion-label {
      color: #4a4a4a;
      font-weight: bolder;
    }
    ion-radio {
      --color : #BBB5BB;
      --color-checked : #FEBB4B;
    }
  }
  }
  
  .card-pay {
  width: 85%;
  margin-top: 1rem;
  background-color: #FFDEA7;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ion-title {
    font-size: medium;
    color: #4a4a4a;
    font-weight: 600;
    padding: 20px;
    text-align: start;
    width: 100%;
  }
  ion-grid {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      --background :none;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      ion-label {
        color: #4a4a4a;
        font-size: small;
      }
      ion-select {
        color: #4a4a4a;
        --background :white;
      }
      ion-input {
        color: #4a4a4a;
        width: 60%;
        border: 1px solid #4a4a4a;
        border-radius: 10px;
        // padding: 0 15px;
      }
    }
  }
  }
  
  
  .paypal-pay , .dana-pay {
  width: 85%;
  margin-top: 1rem;
  background-color: #FFDEA7;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ion-title {
    font-size: medium;
    color: #4a4a4a;
    font-weight: 600;
    padding: 20px;
    text-align: start;
    width: 100%;
  }
  div {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ion-label {
      color: #4a4a4a;
      font-size: small;
    }
    ion-input {
        color: #4a4a4a;
        width: 50%;
        border: 1px solid #4a4a4a;
        border-radius: 10px;
    }
  }
  }
  
  ion-footer {
  ion-toolbar {
    --background : white;
    div {
      --background : none;
      display: flex;
      align-items: center;
      width: 100%;
      color: #424242;
      justify-content: space-evenly;
      padding: 2rem 0 0 0 ;
      ion-title {
        text-align: center;
        font-weight: bolder;
        font-size: medium;
      }
    }
    .btn {
      display: flex;
      justify-content: center;
      ion-button {
        width: 80%;
        height: auto;
        --border-radius: 30px;
        --background: #CF8F24;
        margin: 0 0 2rem 0;
        ion-title {
          color: white;
        }
      }
    }
  }
  }
  
  
  .alert-after-pay {
  width: 100%;
  // height: 100%;
  background : #FEBB4B;
  ion-grid {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      width: auto;
      height: auto;
      padding: 1rem;
      background :white;
      border-radius : 50%;
      ion-icon {
        font-size: 5.5rem;
        font-weight: bolder;
        color: #FEBB4B;
      }
    }
    .txt {
      width: 80%;
      // height: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 2rem 0 1rem 0;
      margin: 0;
      background: none;
      text-wrap: none;
      ion-title {
        font-weight: bolder;
        font-size:xx-large;
      }
    }
    .btn {
      width: 80%;
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      ion-button {
        width: 100%;
        padding: 15px 0px;
        --background: white;
        --border-radius: 20px;
        color: #FEBB4B;
      }
    }
  }
  }
  
  
  .register-form {
  background-color: #FEBB4B;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  ion-header {
    background : white;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ion-title {
      font-weight: bold;
      font-size: larger;
      text-align: center;
    }
    ion-button {
      position: absolute;
      left: 1rem;
    }
    }
    
  .img {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
    img {
      width: 60%;
    }
  }
  ion-title {
    color : #FEBB4B;
    // text-align: center;
  }
  .form-container {
    background : white;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    padding: 2rem 2rem 0 2rem;
    .input-container {
      color: #454545;
      background: white ;
      width: 100%;
      padding: .5rem 1.5rem;
      margin: .5rem 0;
      text-align: start;
      // border: 2px solid #454545;
      box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.221);
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    .btn {
      width: 100%;
      display: flex;
      justify-content: center;
      ion-button {
        --background :#CF8F24;
        --color : white;
        --border-radius: 15px;
        width: 100%;
        padding: 10px;
      }
    }
  }
  }
  
  
  .verif-otp {
    background: white;
    ion-header{
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      ion-title {
        font-weight: bold;
        font-size: larger;
        text-align: center;
      }
      ion-button {
        position: absolute;
        left: 1rem;
      }
    }
    ion-grid {
      --background : white;
      padding : 2rem;
      color: #424242;
        ion-title {
          color: #424242;
          text-align: center;
        }
  
        .otp-container {
          text-align: center;
          .otp-title {
            font-size: medium;
            color: #424242;
            // font-weight: bold;
            margin: 1rem 0 2rem 0;
          }
          .otp-inputs {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin: 1rem;
          }
          
          .otp-inputs input {
            width: 45px;
            height: 50px;
            font-size: 22px;
            text-align: center;
            background: transparent;
            border: 2px solid #ccc;
            border-radius: 10px;
            outline: none;
            transition: 0.3s;
          }
          
          .otp-inputs input:focus {
            border-color: #FEBB4B;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
          }
      
          .btn {
            ion-button {
              margin: 3rem 0 0 0;
              --background : #CF8F24;
              ion-title {
                color: white;
                font-size: medium;
              }
            }
          }
  
          .resend-text {
            margin-top: 10px;
            font-size: 14px;
            ion-button {
              ion-title {
                --color : #858585;
                font-size: medium;
              }
            }
          }  
          
        }
      }
    }
}

